<?xml version="1.0" encoding="utf-8"?>


<configuration>
    <configSections>
        <section
            name="episerver.find" type="EPiServer.Find.Configuration, EPiServer.Find" requirePermission="false"/>
    </configSections>
    <episerver.find
        serviceUrl="https://demo04.find.episerver.net/Pc95aTLFBorFTU9tHqX62WLIfnVqHnsl/"
        defaultIndex="jevgenijsp1_ami"/>
</configuration> 
